:root {
  --PrimaryColor: hsl(151, 25%, 45%);
  --SecondaryColor: hsl(143, 82%, 22%);
  --gradientColor: linear-gradient(
    to right,
    hsl(148, 23%, 65%),
    hsl(137, 30%, 40%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

.home {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(55, 115, 75);
    top: 0;
    bottom: 0;
    z-index: 1;
    mix-blend-mode: hard-light;
  }

  .video {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    object-fit: cover;
  }

  .homeContent {
    width: 100%;
    height: max-content;
    padding: 0rem 1.5rem 3rem;
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: auto;
    color: var(--whiteColor);
    z-index: 100;

    .textDiv {
      padding: 2rem 0;

      .smallText {
        font-size: 1.6rem;
        text-transform: uppercase;
      }

      .homeTitle {
        position: relative;
        font-size: 4.8rem;
      }
    }

    .searchDiv {
      /* width: 70%; */
      position: relative;
      padding: 2rem;
      background-color: var(--whiteColor);
      border-radius: 20px;
      gap: 1rem;

      .inputDiv {
        height: 60px;
        padding: 0 1rem;
        background: var(--inputColor);
        border-radius: 4rem;

        .input {
          background: none;
          border: none;
          width: 100%;
          font-size: 25px;
          font-weight: 500;

          &::placeholder {
            font-size: 25px;
          }
        }
      }
    }

    .homeFooterIcons {
      width: 100%;
      justify-content: space-between;

      .icon {
        font-size: 20px;
        margin: 0 5px;
        color: var(--whiteColor);
        font-weight: 600;
        &:hover {
          color: var(--PrimaryColor);
        }
      }
    }
  }
}

/* MEDIA QUERIES */

@media screen and (min-width: 50px) {
  .home {
    .homeContent {
      .textDiv {
        .smallText {
          font-size: 16px;
        }

        .homeTitle {
          position: relative;
          font-size: 2.3rem;
          width: max-content;

          &::after {
            position: absolute;
            content: "";
            background: var(--SecondaryColor);
            height: 5px;
            width: 145px;
            right: 0px;
            bottom: 5px;
            z-index: -1;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 940px) {
  .home {
    height: 70vh;
    .homeContent {
      padding-left: 0;
      padding-right: 0;
      .textDiv {
        .smallText {
          font-size: 20px;
        }

        .homeTitle {
          position: relative;
          font-size: 4rem;
          width: max-content;
        }
      }

      .searchDiv {
        width: 70vh;
      }
    }
  }
}

@media screen and (min-width: 1240px) {
  .home {
    height: 70vh;

    .homeContent {
      padding-left: 0;
      padding-right: 0;
      .textDiv {
        .smallText {
          font-size: 30px;
        }

        .homeTitle {
          position: relative;
          font-size: 6rem;
          width: max-content;
        }
      }

      .searchDiv {
        width: 75vh;
      }
    }
  }
}
