.my-timeline {
  background-color: rgb(255, 255, 255);
  padding: 1rem;

  .title {
    text-align: center;
    padding: 3rem;
  }

  .timeline {
    .chrono-event {
      border: 2px solid #ccc;
      border-radius: 10px;
      margin: 10px;
      padding: 10px;
      background-color: #fff;
    }
  }
}

/* MEDIA QUERIES */

@media screen and (min-width: 940px) {
  .my-timeline {
    padding: 3rem 15rem;
  }
}

@media screen and (min-width: 1240px) {
  .my-timeline {
    padding: 8rem 25rem;
  }
}
